<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSVu-AwEUkh7fCX8m4eAclwH0zH2k41KY</string>
	<key>GCM_SENDER_ID</key>
	<string>20825116101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.otoufujohnny.PracticeFirebaseUI</string>
	<key>PROJECT_ID</key>
	<string>practicefirebaseui-66542</string>
	<key>STORAGE_BUCKET</key>
	<string>practicefirebaseui-66542.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20825116101:ios:d75ddbef5dbd6d66ce4fac</string>
</dict>
</plist>